127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{ groups['all_nodes_ip'][0] }} {{ groups['all_nodes_dns'][0] }}
{{ groups['all_nodes_ip'][1] }} {{ groups['all_nodes_dns'][1] }}
{{ groups['all_nodes_ip'][2] }} {{ groups['all_nodes_dns'][2] }}
{{ groups['all_nodes_ip'][3] }} {{ groups['all_nodes_dns'][3] }}


