127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for ip in groups['all_nodes_ip'] %}
{{ groups['all_nodes_ip'][loop.index - 1] }} {{ groups['all_nodes_dns'][loop.index - 1] }}
{% endfor %}
