#!/bin/bash
MASTERSTATE="/dev/shm/mysql-loadbalancer-monitor-masterstate"
RUNNINGSTATE="/dev/shm/mysql-loadbalancer-monitor-runningstate"
ERRORCOUNTS="/dev/shm/mysql-loadbalancer-monitor-errorcounts"
MSTATE="$(/bin/cat $MASTERSTATE)"
RSTATE="$(/bin/cat $RUNNINGSTATE)"
if [ "$RSTATE" == "DOWN" ]
then
    # mysql is down, return http 503
    /bin/echo -e "HTTP/1.1 503 Service Unavailable\r\n"
    /bin/echo -e "Content-Type: Content-Type: text/plain\r\n"
    /bin/echo -e "\r\n"
    /bin/echo -e "MySQL is *down*.\r\n"
    /bin/echo -e "\r\n"
elif [ "$RSTATE" == "UP" ]
then
    if [ "$MSTATE" == "MASTER" ]
    then
        # mysql is fine, return http 200
        /bin/echo -e "HTTP/1.1 200 OK\r\n"
        /bin/echo -e "Content-Type: Content-Type: text/plain\r\n"
        /bin/echo -e "\r\n"
        /bin/echo -e "MySQL is a master (read_only=OFF).\r\n"
        /bin/echo -e "\r\n"
    elif [ "$MSTATE" == "SLAVE" ]
    then
        # mysql is fine, return http 200
        /bin/echo -e "HTTP/1.1 503 Service Unavailable\r\n"
        /bin/echo -e "Content-Type: Content-Type: text/plain\r\n"
        /bin/echo -e "\r\n"
        /bin/echo -e "MySQL is a slave(read_only=ON).\r\n"
        /bin/echo -e "\r\n"
    else       
        # WTF?!?, return http 503
        /bin/echo -e "HTTP/1.1 503 Service Unavailable\r\n"
        /bin/echo -e "Content-Type: Content-Type: text/plain\r\n"
        /bin/echo -e "\r\n"
        /bin/echo -e "MASTER STATE UNDEFINED. HEALTH CHECK ISSUE!!!.\r\n"
        /bin/echo -e "\r\n"
    fi
else
    # WTF?!?, return http 503
    /bin/echo -e "HTTP/1.1 503 Service Unavailable\r\n"
    /bin/echo -e "Content-Type: Content-Type: text/plain\r\n"
    /bin/echo -e "\r\n"
    /bin/echo -e "RUNNING STATE UNDEFINED. HEALTH CHECK ISSUE!!!.\r\n"
    /bin/echo -e "\r\n"
fi
